In [2]:
import numpy as np
import pandas as pd

import os
import dask.dataframe as dd
from datetime import datetime

In [6]:
df = pd.read_hdf("C:/Users/gator/Documents/==CNA/CNA_Hackathon_2019_Data/2015_hackathon_v1.1.2.hdf", key="tracks")

In [7]:
df.head()

,MMSI,track_num,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselType,Status,Length,Width,Draft,Cargo,interpolated,LAT_6hour,LON_6hour
0,0,0,2015-11-04 06:20:00,39.197720,-72.001190,8.3,-163.500000,247.0,0,0,20.0,4.0,3.0,0,False,38.85383,-73.13105
1,0,0,2015-11-04 06:30:00,39.188570,-72.027720,8.7,-163.500000,246.0,0,0,20.0,4.0,3.0,0,False,38.84221,-73.16352
2,0,0,2015-11-04 06:40:00,39.184470,-72.039800,8.6,-162.600000,247.0,0,0,20.0,4.0,3.0,0,False,38.83007,-73.19725
3,0,0,2015-11-04 06:50:00,39.173897,-72.073297,8.6,-162.066667,247.0,0,0,20.0,4.0,3.0,0,True,38.81817,-73.22818
4,0,0,2015-11-04 07:00:00,39.163323,-72.106793,8.6,-161.533333,247.0,0,0,20.0,4.0,3.0,0,True,38.80486,-73.26373

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41654924 entries, 0 to 41654923
Data columns (total 17 columns):
MMSI            int64
track_num       int64
BaseDateTime    datetime64[ns]
LAT             float64
LON             float64
SOG             float64
COG             float64
Heading         float64
VesselType      int16
Status          int8
Length          float64
Width           float64
Draft           float64
Cargo           int16
interpolated    bool
LAT_6hour       float64
LON_6hour       float64
dtypes: bool(1), datetime64[ns](1), float64(10), int16(2), int64(2), int8(1)
memory usage: 4.6 GB

In [9]:
df.describe()

,MMSI,track_num,LAT,LON,SOG,COG,Heading,VesselType,Status,Length,Width,Draft,Cargo,LAT_6hour,LON_6hour
count,4.165492e+07,4.165492e+07,4.165492e+07,4.165492e+07,4.165492e+07,4.165492e+07,4.165492e+07,4.165492e+07,4.165492e+07,3.884038e+07,3.884038e+07,3.884038e+07,4.165492e+07,3.566274e+07,3.566274e+07
mean,3.611442e+08,2.203904e+01,3.923619e+01,-7.501907e+01,2.601607e+00,-1.616607e+01,4.129552e+02,8.328887e+02,-3.040352e-01,4.106671e+01,7.987791e+00,1.934981e+00,1.796939e+01,3.924624e+01,-7.505188e+01
std,5.439585e+07,4.146740e+01,2.428207e+00,1.388984e+00,4.885744e+00,1.215735e+02,1.631321e+02,3.893782e+02,1.474293e+00,6.119153e+01,9.251311e+00,3.518293e+00,2.770186e+01,2.305574e+00,1.366544e+00
min,0.000000e+00,0.000000e+00,5.795000e-02,-7.800000e+01,-5.120000e+01,-2.048000e+02,0.000000e+00,-1.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,-1.280000e+01,-1.000000e+00,5.795000e-02,-7.800000e+01
25%,3.381866e+08,4.000000e+00,3.774288e+01,-7.632690e+01,0.000000e+00,-1.279000e+02,3.040000e+02,1.001000e+03,-1.000000e+00,1.426000e+01,0.000000e+00,0.000000e+00,-1.000000e+00,3.769279e+01,-7.632968e+01
50%,3.670718e+08,1.000000e+01,3.955083e+01,-7.495905e+01,0.000000e+00,0.000000e+00,5.110000e+02,1.019000e+03,-1.000000e+00,2.198000e+01,7.000000e+00,0.000000e+00,-1.000000e+00,3.947826e+01,-7.508824e+01
75%,3.674780e+08,2.200000e+01,4.070004e+01,-7.401063e+01,3.900000e+00,8.300000e+01,5.110000e+02,1.025000e+03,0.000000e+00,3.231000e+01,9.770000e+00,3.600000e+00,3.700000e+01,4.068870e+01,-7.402059e+01
max,1.000000e+09,6.260000e+02,5.243117e+01,-7.200000e+01,5.090000e+01,2.047000e+02,5.110000e+02,1.025000e+03,1.400000e+01,4.307000e+02,7.000000e+01,2.270000e+01,2.300000e+02,4.655943e+01,-7.200000e+01

In [10]:
df.VesselType.unique()

array([   0,   33,   -1,   30,   70,   69,   64,   60,   31,   35,   37,
         52, 1019, 1004, 1024,   79,   71,   80,   90, 1020,   72,   89,
       1012, 1003, 1010,   81, 1018, 1005,   77,   74,   84,   73, 1016,
         75, 1025, 1022,   82,   36, 1011,   83, 1013, 1001,   10,   50,
         40,    7, 1008,   20], dtype=int64)

In [11]:
df.groupby('VesselType').MMSI.nunique()

VesselType
-1       1487
 0         36
 7          1
 10         1
 20         1
 30        10
 31        21
 33         3
 35         7
 36         6
 37        24
 40         1
 50         3
 52        31
 60         8
 64         1
 69         2
 70       188
 71        47
 72         1
 73         1
 74         3
 75         1
 77         1
 79        44
 80        56
 81         9
 82         8
 83         4
 84         4
 89        24
 90         5
 1001     296
 1003       4
 1004    2946
 1005      75
 1008       2
 1010      14
 1011       6
 1012     349
 1013      44
 1016       1
 1018     426
 1019    3189
 1020      46
 1022      16
 1024    1218
 1025     545
Name: MMSI, dtype: int64

In [12]:
df_class = pd.read_csv('C:/Users/gator/Documents/==CNA/ais_data_project/vessel-type-codes-2018.csv')

In [37]:
df_class

,Vessel Group (2018),Vessel Type (2018),AIS Vessel Code,AIS Ship & Cargo Classification
0,Not Available,0.0,0.0,"Not available or no ship, default"
1,Other,1.0,1.0,Reserved for future use
2,Other,2.0,2.0,Reserved for future use
3,Other,3.0,3.0,Reserved for future use
4,Other,4.0,4.0,Reserved for future use
5,Other,5.0,5.0,Reserved for future use
6,Other,6.0,6.0,Reserved for future use
7,Other,7.0,7.0,Reserved for future use
8,Other,8.0,8.0,Reserved for future use
9,Other,9.0,9.0,Reserved for future use
10,Other,10.0,10.0,Reserved for future use
11,Other,11.0,11.0,Reserved for future use
12,Other,12.0,12.0,Reserved for future use
13,Other,13.0,13.0,Reserved for future use
14,Other,14.0,14.0,Reserved for future use
15,Other,15.0,15.0,Reserved for future use
16,Other,16.0,16.0,Reserved for future use
17,Other,17.0,17.0,Reserved for future use
18,Other,18.0,18.0,Reserved for future use
19,Other,19.0,19.0,Reserved for future use
20,Other,20.0,20.0,"Wing in ground (WIG), all ships of this type"
21,Tug Tow,21.0,21.0,"Wing in ground (WIG), hazardous category A"
22,Tug Tow,22.0,22.0,"Wing in ground (WIG), hazardous category B"
23,Other,23.0,23.0,"Wing in ground (WIG), hazardous category C"
24,Other,24.0,24.0,"Wing in ground (WIG), hazardous category D"
25,Other,25.0,25.0,"Wing in ground (WIG), reserved for future use"
26,Other,26.0,26.0,"Wing in ground (WIG), reserved for future use"
27,Other,27.0,27.0,"Wing in ground (WIG), reserved for future use"
28,Other,28.0,28.0,"Wing in ground (WIG), reserved for future use"
29,Other,29.0,29.0,"Wing in ground (WIG), reserved for future use"
...,...,...,...,...
996,Other,996.0,996.0,No Designation
997,Other,997.0,997.0,No Designation
998,Other,998.0,998.0,No Designation
999,Other,999.0,999.0,No Designation
1000,Other,NaN,NaN,NaN
1001,Fishing,1001.0,NaN,Commercial Fishing Vessel
1002,Fishing,1002.0,NaN,Fish Processing Vessel
1003,Cargo,1003.0,NaN,Freight Barge
1004,Cargo,1004.0,NaN,Freight Ship
1005,Other,1005.0,NaN,Industrial Vessel
1006,Other,1006.0,NaN,Miscellaneous Vessel
1007,Other,1007.0,NaN,Mobile Offshore Drilling Unit
1008,Other,1008.0,NaN,Non-vessel
1009,Other,1009.0,NaN,NON-VESSEL
1010,Other,1010.0,NaN,Offshore Supply Vessel
1011,Other,1011.0,NaN,Oil Recovery
1012,Passenger,1012.0,NaN,Passenger (Inspected)
1013,Passenger,1013.0,NaN,Passenger (Uninspected)
1014,Passenger,1014.0,NaN,Passenger Barge (Inspected)
1015,Passenger,1015.0,NaN,Passenger Barge (Uninspected)
1016,Cargo,1016.0,NaN,Public Freight
1017,Tanker,1017.0,NaN,Public Tankship/Barge
1018,Other,1018.0,NaN,"Public Vessel, Unclassified"
1019,Pleasure Craft/Sailing,1019.0,NaN,Recreational
1020,Other,1020.0,NaN,Research Vessel
1021,Military,1021.0,NaN,SAR Aircraft
1022,Other,1022.0,NaN,School Ship
1023,Tug Tow,1023.0,NaN,Tank Barge
1024,Tanker,1024.0,NaN,Tank Ship
1025,Tug Tow,1025.0,NaN,Towing Vessel

In [27]:
df_mmsi_class = df.groupby('VesselType').MMSI.nunique()

In [71]:
df_classes = df_mmsi_class.to_frame().merge(df_class, how="left", left_on="VesselType", right_on="Vessel Type (2018)")
df_classes

,MMSI,Vessel Group (2018),Vessel Type (2018),AIS Vessel Code,AIS Ship & Cargo Classification
0,1487,NaN,NaN,NaN,NaN
1,36,Not Available,0.0,0.0,"Not available or no ship, default"
2,1,Other,7.0,7.0,Reserved for future use
3,1,Other,10.0,10.0,Reserved for future use
4,1,Other,20.0,20.0,"Wing in ground (WIG), all ships of this type"
5,10,Fishing,30.0,30.0,Fishing
6,21,Tug Tow,31.0,31.0,Towing
7,3,Other,33.0,33.0,Dredging or underwater operations
8,7,Military,35.0,35.0,Military operations
9,6,Pleasure Craft/Sailing,36.0,36.0,Sailing
10,24,Pleasure Craft/Sailing,37.0,37.0,Pleasure Craft
11,1,Other,40.0,40.0,"High speed craft (HSC), all ships of this type"
12,3,Other,50.0,50.0,Pilot Vessel
13,31,Tug Tow,52.0,52.0,Tug
14,8,Passenger,60.0,60.0,"Passenger, all ships of this type"
15,1,Passenger,64.0,64.0,"Passenger, hazardous category D"
16,2,Passenger,69.0,69.0,"Passenger, no additional information"
17,188,Cargo,70.0,70.0,"Cargo, all ships of this type"
18,47,Cargo,71.0,71.0,"Cargo, hazardous category A"
19,1,Cargo,72.0,72.0,"Cargo, hazardous category B"
20,1,Cargo,73.0,73.0,"Cargo, hazardous category C"
21,3,Cargo,74.0,74.0,"Cargo, hazardous category D"
22,1,Cargo,75.0,75.0,"Cargo, reserved for future use"
23,1,Cargo,77.0,77.0,"Cargo, reserved for future use"
24,44,Cargo,79.0,79.0,"Cargo, no additional information"
25,56,Tanker,80.0,80.0,"Tanker, all ships of this type"
26,9,Tanker,81.0,81.0,"Tanker, hazardous category A"
27,8,Tanker,82.0,82.0,"Tanker, hazardous category B"
28,4,Tanker,83.0,83.0,"Tanker, hazardous category C"
29,4,Tanker,84.0,84.0,"Tanker, hazardous category D"
30,24,Tanker,89.0,89.0,"Tanker, no additional information"
31,5,Other,90.0,90.0,"Other Type, all ships of this type"
32,296,Fishing,1001.0,NaN,Commercial Fishing Vessel
33,4,Cargo,1003.0,NaN,Freight Barge
34,2946,Cargo,1004.0,NaN,Freight Ship
35,75,Other,1005.0,NaN,Industrial Vessel
36,2,Other,1008.0,NaN,Non-vessel
37,14,Other,1010.0,NaN,Offshore Supply Vessel
38,6,Other,1011.0,NaN,Oil Recovery
39,349,Passenger,1012.0,NaN,Passenger (Inspected)
40,44,Passenger,1013.0,NaN,Passenger (Uninspected)
41,1,Cargo,1016.0,NaN,Public Freight
42,426,Other,1018.0,NaN,"Public Vessel, Unclassified"
43,3189,Pleasure Craft/Sailing,1019.0,NaN,Recreational
44,46,Other,1020.0,NaN,Research Vessel
45,16,Other,1022.0,NaN,School Ship
46,1218,Tanker,1024.0,NaN,Tank Ship
47,545,Tug Tow,1025.0,NaN,Towing Vessel

In [72]:
df_classes.columns

Index(['MMSI', 'Vessel Group (2018)', 'Vessel Type (2018)', 'AIS Vessel Code',
       'AIS Ship & Cargo Classification'],
      dtype='object')

In [73]:
df_classes.columns = ['Count', 
                      'VesselGroup', 
                      'VesselType', 
                      'VesselCode',
                      'Description'
                     ]

In [74]:
df_classes = df_classes[["VesselType", "Description", "Count"]]
df_classes = df_classes[df_classes['VesselType'].notna()]
df_classes.sort_values("VesselType", ascending=True)

    VesselType                                     Description  Count
1          0.0               Not available or no ship, default     36
2          7.0                         Reserved for future use      1
3         10.0                         Reserved for future use      1
4         20.0    Wing in ground (WIG), all ships of this type      1
5         30.0                                         Fishing     10
6         31.0                                          Towing     21
7         33.0               Dredging or underwater operations      3
8         35.0                             Military operations      7
9         36.0                                         Sailing      6
10        37.0                                  Pleasure Craft     24
11        40.0  High speed craft (HSC), all ships of this type      1
12        50.0                                    Pilot Vessel      3
13        52.0                                             Tug     31
14        60.0               Passenger, all ships of this type      8
15        64.0                 Passenger, hazardous category D      1
16        69.0            Passenger, no additional information      2
17        70.0                   Cargo, all ships of this type    188
18        71.0                     Cargo, hazardous category A     47
19        72.0                     Cargo, hazardous category B      1
20        73.0                     Cargo, hazardous category C      1
21        74.0                     Cargo, hazardous category D      3
22        75.0                  Cargo, reserved for future use      1
23        77.0                  Cargo, reserved for future use      1
24        79.0                Cargo, no additional information     44
25        80.0                  Tanker, all ships of this type     56
26        81.0                    Tanker, hazardous category A      9
27        82.0                    Tanker, hazardous category B      8
28        83.0                    Tanker, hazardous category C      4
29        84.0                    Tanker, hazardous category D      4
30        89.0               Tanker, no additional information     24
31        90.0              Other Type, all ships of this type      5
32      1001.0                       Commercial Fishing Vessel    296
33      1003.0                                   Freight Barge      4
34      1004.0                                    Freight Ship   2946
35      1005.0                               Industrial Vessel     75
36      1008.0                                      Non-vessel      2
37      1010.0                          Offshore Supply Vessel     14
38      1011.0                                    Oil Recovery      6
39      1012.0                           Passenger (Inspected)    349
40      1013.0                         Passenger (Uninspected)     44
41      1016.0                                  Public Freight      1
42      1018.0                     Public Vessel, Unclassified    426
43      1019.0                                    Recreational   3189
44      1020.0                                 Research Vessel     46
45      1022.0                                     School Ship     16
46      1024.0                                       Tank Ship   1218
47      1025.0                                   Towing Vessel    545

In [75]:
superclass={1024:1, 80:1, 81:1, 82:1, 83:1, 84:1, 89:1, 1019:2, 36:2, 37:2,
      1001:3, 30:3, 70:4, 71:4, 72:4, 73:4, 74:4, 75:4, 77:4, 79:4, 1003:4, 1004:4}
df_classes['SuperClass'] = df_classes.VesselType.apply(lambda x: superclass.get(x, 5)) 
df_classes.sort_values("VesselType", ascending=True)